.footer {
   

   

    &__a {
        @include text($ff, 500, 1.8rem, 4.0rem, $white);
    }

   

    &__desc {
        display: flex;
        gap: 7px;
        align-items: center;
        padding-top: 10px;
        @include text($ff, 400, 1.8rem, 4.0rem, $white);
        @include tablet {
            display: none;
        }
       

    }

  

   
}
.footer-up {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    flex-wrap: wrap;
    @include mobile {
        gap: 30px;
              }
    
}


.footer-down {
    padding-top: 33px;
    padding-bottom: 100px;
    border-top: 0.5px;
    border-top-style: solid;
    border-top-color: rgba(150, 150, 150, 0.2);
   
    border-right: none;
    border-left: none;
    border-bottom: none;
   
	margin-top: 85px;
	display: flex;
	justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
	

	&__desc {
		
		@include text($ff, 400, 1.4rem, 2.0rem, $white);
	}

	&__group {
		
		display: flex;
		gap: 53px;
		
		
		
	}
}


